

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Kategori</div>
  <div class="card-body text-primary">

      <div *ngIf="categories.length==0" class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>




<h3 *ngFor="let item of categories">

  <strong>

    <a [routerLink]="['/kategori', item.name, item.id]" class="btn btn-link"> <i class="fa fa-arrow-circle-right"></i> {{item.name}} </a>

  </strong>
</h3>






